<app-navbar></app-navbar>

<div class="explore-input-container">
  <input
    type="text"
    name="exploreSearch"
    [(ngModel)]="exploreSearch"
    (keydown.enter)="onSearch()"
    placeholder="Where do you want to explore..."
    class="w-1/3 py-2 border-b-2 border-gray-600 outline-none focus:border-blue-400"
  />
  <button mat-button (click)="onSearch()"><mat-icon>search</mat-icon></button>
</div>

<div class="explore-images-container" *ngIf="imagesLoaded">
  <img
    class="shadow-lg rounded"
    *ngFor="let image of searchImages"
    src="{{ image.urls.regular }}"
    alt="{{ image.alt_description }}"
    (click)="onImageClick(image)"
  />
  <button mat-button (click)="loadMoreImages()"><mat-icon>navigate_next</mat-icon></button>
</div>

<div *ngIf="noImages" class="no-images">
  <p>There are no images for this search term :(</p>
</div>

