<app-navbar></app-navbar>

<div class="dashboard-container">

  <div *ngIf="loading" class="centre-loader">
    <div
      class="
        animate-spin
        rounded-full
        h-24
        w-24
        border-t-4 border-b-4 border-black
      "
    ></div>
  </div>

  <ng-container *ngIf="!loading">
    <h1 class="header-message">{{ userInformation.firstName }}'s Dashboard</h1>

    <div class="button-container">
      <button class="mdc-fab" aria-label="Add" (click)="onAdd()">
        <div class="mdc-fab__ripple"></div>
        <span class="mdc-fab__icon material-icons">add</span>
      </button>
    </div>

    <app-images></app-images>
    <!-- <button (click)="getUserTrips()">GET</button> -->
  </ng-container>
</div>