// Define breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

.dashboard-container {
  height: 100%;
  width: 100%;

  .centre-loader {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
  }

  .button-container {
    position: fixed;
    bottom: 40px;
    right: 40px;

    .mdc-fab {
      background-color: black;
    }
  }
}

.header-message {
  position: relative;
  top: 15px;
  left: 30px;
}

@media (max-width: #{$tablet-width - 1px}) {
  .dashboard-container {
    .button-container {
      bottom: 20px;
      right: 20px;
    }
  }
}
