<div class="navbar-container">
  <div class="small-menu">
    <div class="menu-icon">
      <button mat-icon-button (click)="openNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="logo-container">
      <a href="/home">
        <img src="../../assets/images/gowanderLogo.jpg" alt="" />
      </a>
    </div>
    <div class="navbar-option" (click)="onAuthAction()">
      {{ isLoggedIn ? "Log Out" : "Log In" }}
    </div>
  </div>
  <div class="large-menu">
    <div class="logo-container">
      <a href="/home">
        <img src="../../assets/images/gowanderLogo.jpg" alt="" />
      </a>
    </div>
    <div class="navbar-options">
      <div class="navbar-option" routerLink="/home" routerLinkActive="active">
        Home
      </div>
      <div
        class="navbar-option"
        routerLink="/dashboard"
        routerLinkActive="active"
      >
        My Dashboard
      </div>
      <div class="navbar-option" routerLink="/social" routerLinkActive="active">
        Social
      </div>
      <div
        class="navbar-option"
        routerLink="/explore"
        routerLinkActive="active"
      >
        Explore
      </div>
    </div>
    <div class="navbar-option" (click)="onAuthAction()">
      {{ isLoggedIn ? "Log Out" : "Log In" }}
    </div>
  </div>
</div>

<!-- The overlay menu -->
<div id="myNav" class="overlay" [ngStyle]="{ height: isOpen ? '100%' : '0%' }">
  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a class="overlay-option" routerLink="/home" routerLinkActive="active"
      >Home</a
    >
    <a class="overlay-option" routerLink="/dashboard" routerLinkActive="active"
      >My Dashboard</a
    >
    <a class="overlay-option" routerLink="/social" routerLinkActive="active"
      >Social</a
    >
    <a class="overlay-option" routerLink="/explore" routerLinkActive="active"
      >Explore</a
    >
  </div>
</div>
