.social-profile-container {
    width: 100%;

    .name-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 15px;

        h2 {
            margin: 0;
            cursor: pointer;
        }

        .profile-picture {
            width: 50px;
            border: 2px solid black;
            border-radius: 50%;
        }
    }

    .friends-container {
        margin-top: 10px;
        padding-left: 5px;
    }

    .profile-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .action {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }
}