// Define breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

.trip-complete-container {
  width: 700px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .step-text-container {
    h2 {
      margin: 0;
    }
  }

  .trip-info-container {
  }

  img {
    width: 300px;
    margin: auto;
  }

  .actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .finish-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

// Phone
@media (max-width: #{$tablet-width - 1px}) {
  .trip-complete-container {
    width: 350px;

    .step-text-container {
      margin-left: 1rem;
    }
  }
}
