// Define breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

.name-container {
  width: 700px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .step-text-container {
    h2 {
      margin: 0;
    }
  }

  .name-input-container {
    input {
      width: 100%;
      padding: 0.5rem 1rem;
      border: 1px solid green;
      border-radius: 3px;
    }

    p {
      color: red;
    }
  }

  .actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

// Phone
@media (max-width: #{$tablet-width - 1px}) {
  .name-container {
    width: 350px;

    .step-text-container {
      margin-left: 1rem;
    }

    .name-input-container {
      input {
        width: 325px;
        margin-left: 1rem;
      }
    }
  }
}
