<div class="settings-modal-container">
  <div class="modal-header">
    <h2>Settings</h2>
  </div>

  <div class="modal-content">
    <div class="profile-picture">
      <img
        src="{{ profileData.profilePictureUrl ?? defaultProfilePicturePath }}"
        alt="Dummy Profile Picture"
        class="profile-picture-image"
      />
      <p>Update your profile picture</p>
    </div>

    <input
      type="file"
      id="file"
      (change)="uploadProfilePicture($event)"
      name="image"
    />

    <mat-progress-bar
      *ngIf="progressBar"
      mode="indeterminate"
    ></mat-progress-bar>

    <p>{{ profileData.profilePictureUrl }}</p>
  </div>

  <div class="modal-actions"></div>
</div>
