// Define breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;

  app-social-main {
    width: 50%;
  }
}


// Phone
@media (max-width: #{$tablet-width - 1px}) {
	.social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
  
    app-social-main {
      width: 50%;
    }
  }
}

// Tablet
@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
	.social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
  
    app-social-main {
      width: 50%;
    }
  }
}
