<app-navbar></app-navbar>

<div class="home-container">
  <div class="content-container">
    <div class="svg-container">
      <img
        src="../../../assets/graphics/travelGlobe.svg"
        alt=""
        class="svg-globe"
      />
    </div>
    <div class="text-container right">
      <h2>Organise all your travels in one place...</h2>
      <p>
        Gowander allows you to plan trips with ease! Add reservations, flight
        details and even an allowance all from your dashboard. Sign up for free
        today!
      </p>
    </div>
  </div>
  <div class="content-container mobile-switch">
    <div class="text-container left">
      <h2>Plan with friends and see what they are getting up to...</h2>
      <p>
        Add friends to be able to view their trips on the social page. You can
        interact with the post and even message them directly to learn more!
      </p>
    </div>
    <div class="svg-container">
      <img
        src="../../../assets/graphics/travelMap.svg"
        alt=""
        class="svg-map"
      />
    </div>
  </div>
  <div class="content-container">
    <div class="svg-container">
      <img
        src="../../../assets/graphics/travelCamper.svg"
        alt=""
        class="svg-camper"
      />
    </div>
    <div class="text-container right">
      <h2>Explore new places...</h2>
      <p>
        The explore function allows you view pictures of new destinations and
        provide you with some inspiration for your next trip.
      </p>
    </div>
  </div>
</div>

<div class="footer-container-main">
  <app-footer></app-footer>
</div>
