<div class="new-trip-container">
  <h2>Start Planning Your Trip</h2>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa soluta nobis
    optio fuga rem natus modi sunt reprehenderit obcaecati. Sint.
  </p>

  <mat-stepper [orientation]="orientation" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="stepOneGroup">
      <form [formGroup]="stepOneGroup">
        <ng-template matStepLabel>Set a name for your trip</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="My awesome roadtrip!"
            formControlName="tripName"
            required
          />
          <mat-error *ngIf="stepOneGroup.hasError('required')">
            Please enter a name
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="stepTwoGroup">
      <form [formGroup]="stepTwoGroup">
        <ng-template matStepLabel
          >Set a region and type for your trip</ng-template
        >
        <mat-form-field class="continent-input">
          <mat-label>Continents</mat-label>
          <mat-chip-list #chipList aria-label="Continent selection">
            <mat-chip
              *ngFor="let continent of continentsSelected"
              (removed)="remove(continent)"
            >
              {{ continent }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="Type a continent..."
              formControlName="continentCtrl"
              #continentInput
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-list>
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option
              *ngFor="let continent of filteredContinents | async"
              [value]="continent"
            >
              {{ continent[1] }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-stepper>
</div>
