.delete-confirmation-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    margin: 0;
  }

  .delete-confirmation-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
