<app-navbar></app-navbar>

<div class="home-container">
  <div class="content-container">
    <div class="content-one">Content on the left</div>
    <div class="content-two">Sign Up / Log In</div>
  </div>
  <div class="content-container second">
    <div class="content-one">Probably a fancy travel image here</div>
    <div class="content-two">More information about the company</div>
  </div>

  <app-footer></app-footer>
</div>

<!-- This component is for potential customers - they should have the option to log in/ sign up obviously and it should explain what life planner is -->
