// Define breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

.home-container {
  height: 100%;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  background-color: rgb(243, 243, 243);
  width: 100%;

  .content-img {
    width: 60%;
    height: 30%;
  }

  .content-two {
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    .auth-button {
      width: 60%;
      margin: 0 auto;
    }
  }

  // &.second {
  // }
}

// Currently no styles as dont have real content in here
// .content-one {

// }

// .content-two {

// }

// Breakpoint specific styles
// Phone
@media (max-width: #{$tablet-width - 1px}) {
  .content-container {
    flex-direction: column;
    text-align: center;

    .content-img {
      width: 100%;
    }

    .content-two {
      width: 100%;
    }
  }
}

// Currently no laptop/tablet specific styles

// @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
// }

// @media (min-width: #{$desktop-width}) {
// }
