<app-navbar></app-navbar>

<div class="new-trip-container">
  <h2>Start Planning Your Trip</h2>

  <div class="progress">
    <mat-progress-bar
      mode="determinate"
      [value]="progressValue"
    ></mat-progress-bar>
  </div>

  <div class="step-container">
    <app-new-trip-type-select
      *ngIf="step === 1"
      (nextStepEmitter)="onStepChangeFwd($event, 2)"
    ></app-new-trip-type-select>

    <app-new-trip-region-select
      *ngIf="step === 2"
      [tripData]="stepData"
      (previousStepEmitter)="onStepChangeBckwd(1)"
      (nextStepEmitter)="onStepChangeFwd($event, 3)"
    ></app-new-trip-region-select>

    <app-new-trip-information
      *ngIf="step === 3"
      [tripData]="stepData"
      (previousStepEmitter)="onStepChangeBckwd(2)"
      (nextStepEmitter)="onStepChangeFwd($event, 4)"
    >
    </app-new-trip-information>

    <app-new-trip-name
      *ngIf="step === 4"
      [tripData]="stepData"
      (previousStepEmitter)="onStepChangeBckwd(3)"
      (nextStepEmitter)="onStepChangeFwd($event, 5)"
    ></app-new-trip-name>

    <app-new-trip-complete
      *ngIf="step === 5"
      [tripData]="stepData"
      (previousStepEmitter)="onStepChangeBckwd(4)"
      (nextStepEmitter)="onStepChangeFwd($event, 6)"
    ></app-new-trip-complete>
  </div>
</div>
